:root {
    --light-grey: rgb(95, 94, 94);
    --hover-color: #007BFF;
    /* --base-color: black; */
    --base-color: rgb(0,0,128);
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;

}
a:visited {
    color: black;
}
body {
    
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
section {
    margin: 10% 5%;
}
.section-heading {
    font-size: 3rem;
    font-weight: bold;
    color: var(--base-color);
}
/* Navbar Section */

#menu {
    display: none;
}

nav {
    padding: 2% 5% 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--base-color);
    text-decoration: none;

}
nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    padding: 0;
    margin: 0;
}
nav > ul > li {
    margin: 0 10px;
    position: relative; /* Ensure the li is positioned relative for absolute positioning of ::after */

}
nav a:hover {
    color: var(--hover-color);

}
nav > ul > li:hover::after {
    content: '';
    display: block;
    width: 100%; /* Make the line full width */
    height: 2px;
    background-color: var(--hover-color);
    position: absolute;
    bottom: -5px; /* Position it below the list item */
    left: 0; /* Align it to the left */
}
@keyframes widthGrow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
nav > ul > li:hover::after {
    width: 100%;
    animation: widthGrow 0.3s;
}
nav  a {
    padding: 10px;
    font-size: 1.5rem;
}
/* about section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

.about-picture {
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-picture > img {
/* Give a circular shape to the image */
    border-radius: 50%;
    width: min(350px, 50vw);
    aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
}
.about > .about-text > .name {
    font-size: 3rem;
    font-weight: bold;
}
.about > .about-text > .role {
    font-size: 2rem;
    font-weight: bold;
    color: var(--base-color);
}
.about > .about-text > .intro {
    font-size: 1.5rem;
    color: black;
    font-family: "Noto Nastaliq Urdu";
}
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f1f1f1;
    border-radius: 20px 20px;
    width: max(20vw, 300px);
    padding: 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
}
.btn {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px 25px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin: 10px;

}
.btn:hover {
    background-color: var(--hover-color);
    color: white;
    cursor: pointer;
    border: transparent;
}
.icons{
    display: flex;
}
.icons img {
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}
.icons img:hover {
    cursor: pointer;

}



/* Skills Section */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    flex-wrap: wrap;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.skills-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
    height: 400px;
    aspect-ratio: 2 / 3;
    border: 1px solid #f1f1f1;
    margin: 10px;
    border-radius: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5%;
}
.skills-item  img {
    height: 50px;
    width: 50px;
    margin: 20px;
}
.skills-item  span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--base-color);
    text-align: center;
}

/*Contact Section */
.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.contact-container > .btn {
    width: fit-content;
    display: flex;
}
.ctn-btn:hover a{
    color: white;
}   
.ctn-btn:hover img {
    filter: invert(100%);
}

/*Projects Section */

.project-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #f1f1f1;
    height: 400px;
    width: 350px;
    margin: 5vh;
    border-radius: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 3%;
}
.project-name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--base-color);
}

/* Mobile Responsive Attributes */
@media screen and (max-width: 768px) {
    nav {
        /* flex-direction: column; */
        justify-content: space-around;
    }
    #menu {
        position: relative; 
        display: inline-block;
    }
    .open {
        display: block;
    }
    .menu-icon span {
        width: 25px;
        height: 3px;
        background-color: var(--base-color);
        margin: 5px 0;
        display: block;
    }
    .menu-list {
        position: absolute;
        top: 120%;
        left: 50%;
        z-index: 1000;
        background-color: white;
        padding: 20px 20px;
        border: 1px solid #f1f1f1;
        border-radius: 10% 10%;
        display: none;
    }
    .open > .menu-icon span:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 10% 100%;
    }
    .open > .menu-icon span:nth-child(2) {
        transform: rotate(-45deg);
        transform-origin: 40% 100%;
    }
    .open > .menu-icon span:nth-child(3) {
        display: none;
    }
    .menu-list li {
        margin: 10px 0;
    }
    .menu-icon {
        cursor: pointer;
    }
    nav > ul {
        display: none;
    }
    .about {
        flex-direction: column;
        justify-content: center;
    }
    .about-picture {
        margin-right: 0;
        margin-bottom: 10%;
    }
}





/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  #video-player {
    width: 60%;
    height: 60%;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

/*Style For Posts */
.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.post-container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

.profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info .name {
    font-weight: bold;
    text-align: start;
}

.profile-info .details {
    font-size: 0.9em;
    color: #555;
    text-align: start;
}

.post-content {
    text-align: start;
    margin-bottom: 10px;
    font-size: 1em;
}
.media{
    background-color: #f1f1f1;
    border-radius: 10px;
}
.media img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
}

.engagement {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.engagement button {
    background: none;
    border: none;
    border-radius: 10px 10px;
    color: rgb(104, 103, 103);
    cursor: pointer;
    font-size: 1em;
    width: max-content;
    padding: 10px;
}

.engagement button:hover {
    background-color: #f1f1f1;
}
